body {
    padding: 0;
    margin: 0;
    background-color: goldenrod;
}

section {
    padding: 10px 110px;
}

.header a {
    color: black;
}

#foodItem {}

.item-section {
    display: flex;
}

#foodCards img {
    width: 250px;
    height: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

#foodCards h4 {
    width: 250px;
    text-align: center;
}

.item {
    width: 22%;
    text-align: center;
    display: grid;
}

#foodCards {
    margin: 40px 3px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15%;
}

#foodCards h4 {
    margin-bottom: 40px;
    padding: 15px 5px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
}

#detailsCard img {
    width: 300px;
}